<header class="flex justify-between items-center px-6 py-4 bg-[#98C55633]">
    <div class="flex items-center gap-2">
        <img src="assets/components/landing-header/ludu-logo.webp" alt="Ludus Sales" class="w-10 h-10">
        <h2 class="text-2xl font-semibold">Ludus Sales</h2>
    </div>
    <nav class="flex items-center gap-6">
        <a href="#dashboard" class="text-sm text-body">Dashboard</a>
        <a href="#solution" class="text-sm text-body">Solución</a>
        <a href="#metodology" class="text-sm text-body">Metodología</a>
        <a href="#pilot" class="text-sm text-body">Piloto 30-Días</a>
        <a href="#about" class="text-sm text-body">Nosotros</a>
        <button class="text-sm font-md text-white bg-primary px-4 py-2 rounded-md cursor-pointer hover-button active-button">Comienza el cambio</button>
    </nav>
</header>
